:root {
  --send-bg: #0b93f6;
  --send-color: white;
  --receive-bg: #e5e5ea;
  --receive-text: black;
  --page-background: white;
}

/* body {
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 20px;
      font-weight: normal;
    max-width: 450px;
      margin: 50px auto;
    display: flex;
    flex-direction: column;
    background-color: var(--page-background);
  } */

.p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
}

.p:before,
.p:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
}

.send {
  color: var(--send-color);
  background: var(--send-bg);
  align-self: flex-end;
}

.send:before {
  right: -7px;
  width: 20px;
  background-color: var(--send-bg);
  border-bottom-left-radius: 16px 14px;
}

.send:after {
  right: -26px;
  width: 26px;
  background-color: var(--page-background);
  border-bottom-left-radius: 10px;
}
.receive {
  background: var(--receive-bg);
  color: black;
  align-self: flex-start;
}
.receive:before {
  left: -7px;
  width: 20px;
  background-color: var(--receive-bg);
  border-bottom-right-radius: 16px 14px;
}
.receive:after {
  left: -26px;
  width: 26px;
  background-color: var(--page-background);
  border-bottom-right-radius: 10px;
}
