@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Bold.otf");
  font-weight: 700;
}
