/*
 Chat Bubbles
 */

:root {
  --send-bg: #0b93f6;
  --send-color: white;
  --receive-bg: #e5e5ea;
  --receive-text: black;
  --page-background: white;
}

.p {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position: relative;
  padding: 10px 20px;
  border-radius: 25px;
}

.p:before,
.p:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 25px;
}

.send {
  color: var(--send-color);
  background: var(--send-bg);
  align-self: flex-end;
}

.send:before {
  right: -7px;
  width: 20px;
  background-color: var(--send-bg);
  border-bottom-left-radius: 16px 14px;
}

.send:after {
  right: -26px;
  width: 26px;
  background-color: var(--page-background);
  border-bottom-left-radius: 10px;
}
.receive {
  background: var(--receive-bg);
  color: black;
  align-self: flex-start;
}
.receive:before {
  left: -7px;
  width: 20px;
  background-color: var(--receive-bg);
  border-bottom-right-radius: 16px 14px;
}
.receive:after {
  left: -26px;
  width: 26px;
  background-color: var(--page-background);
  border-bottom-right-radius: 10px;
}

/*
 Switch
 */

.switch {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 57px;
  height: 33px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 7px;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

/*
 Spinner
 */

.loader-ios {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: iosIntro 0.6s;
  animation: iosIntro 0.6s;
}
.loader-ios svg {
  fill: #868686;
}
.loader-ios svg path:nth-of-type(1) {
  -webkit-animation: pulse 1s infinite linear;
  animation: pulse 1s infinite linear;
}
.loader-ios svg path:nth-of-type(2) {
  -webkit-animation: pulse 1s -0.083s infinite linear;
  animation: pulse 1s -0.083s infinite linear;
}
.loader-ios svg path:nth-of-type(3) {
  -webkit-animation: pulse 1s -0.166s infinite linear;
  animation: pulse 1s -0.166s infinite linear;
}
.loader-ios svg path:nth-of-type(4) {
  -webkit-animation: pulse 1s -0.249s infinite linear;
  animation: pulse 1s -0.249s infinite linear;
}
.loader-ios svg path:nth-of-type(5) {
  -webkit-animation: pulse 1s -0.332s infinite linear;
  animation: pulse 1s -0.332s infinite linear;
}
.loader-ios svg path:nth-of-type(6) {
  -webkit-animation: pulse 1s -0.415s infinite linear;
  animation: pulse 1s -0.415s infinite linear;
}
.loader-ios svg path:nth-of-type(7) {
  -webkit-animation: pulse 1s -0.498s infinite linear;
  animation: pulse 1s -0.498s infinite linear;
}
.loader-ios svg path:nth-of-type(8) {
  -webkit-animation: pulse 1s -0.581s infinite linear;
  animation: pulse 1s -0.581s infinite linear;
}
.loader-ios svg path:nth-of-type(9) {
  -webkit-animation: pulse 1s -0.664s infinite linear;
  animation: pulse 1s -0.664s infinite linear;
}
.loader-ios svg path:nth-of-type(10) {
  -webkit-animation: pulse 1s -0.747s infinite linear;
  animation: pulse 1s -0.747s infinite linear;
}
.loader-ios svg path:nth-of-type(11) {
  -webkit-animation: pulse 1s -0.83s infinite linear;
  animation: pulse 1s -0.83s infinite linear;
}
.loader-ios svg path:nth-of-type(12) {
  -webkit-animation: pulse 1s -0.913s infinite linear;
  animation: pulse 1s -0.913s infinite linear;
}

@-webkit-keyframes pulse {
  50% {
    fill: #868686;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}

@keyframes pulse {
  50% {
    fill: #868686;
  }
  to {
    fill: rgba(134, 134, 134, 0.4);
  }
}
@-webkit-keyframes iosIntro {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes iosIntro {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/*
 Hover Effect
 */

.hover-effect {
  position: relative;
}

.hover-effect:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  right: 0;
  background: #0b93f6;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.hover-effect:hover:after {
  width: 100%;
  left: 0;
}
